# QA Bot Results

Simulated 150 games.

